<div class="container">
  <div class="dropdown">
    
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        CREATION
    </button>   
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item"  [routerLink]="[{outlets: {left: ['edit-legume']}}]">Legume</a></li>
      <!-- <li><a class="dropdown-item" [routerLink]="[{outlets: {left: ['edit-parcelle']}}]">Parcelle</a></li>
      <li><a class="dropdown-item" [routerLink]="[{outlets: {left: ['edit-histoNpkPh']}}]">Histo NPK</a></li>
      <li><a class="dropdown-item" [routerLink]="[{outlets: {left: ['edit-voisinage-legume']}}]">Voisinage legume</a></li>
      <li><a class="dropdown-item" [routerLink]="[{outlets: {left: ['edit-semis']}}]">Semis</a></li> -->
    </ul>

    <!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      CONSULTATION
    </button>  
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">  
        <li><a  [routerLink]="[{outlets: {right: ['view-legume']}}]">Listes Legumes</a></li>
        <li><a  [routerLink]="[{outlets: {right: ['view-parcelle']}}]">Listes Parcelles</a></li>
        <li><a  [routerLink]="[{outlets: {right: ['view-jardin']}}]">Jardin</a></li>
    </ul>

    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      CULTURE
    </button>  
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">  
        <li><a  [routerLink]="[{outlets: {left: ['ajouter-culture']}}]">Ajouter</a></li>
    </ul>

</div>
  <div class="row" style="margin-top:6px">
    <div class="col-3">
      <router-outlet  name='left'></router-outlet>
    </div>
    <div class="col-9">
      <router-outlet name='right'></router-outlet>
    </div>
  </div> -->
</div>
 