<!-- <form #myform = "ngForm" > -->
    <h1> Edition Legume</h1>
<!--    <div class="form-group">
        <label for="status">Nom</label>
        <input name="nom" [(ngModel)]="legume.nom" required #name="ngModel">
    </div>
    <div class="form-group">
        <label for="status">Exposition</label>
        <select name="exposition" [(ngModel)]="legume.exposition" required #name="ngModel" >
            <option *ngFor="let u of expositions_legumes" [value]="u">{{u}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="status">Type</label>
        <select name="type" [(ngModel)]="legume.type" required #name="ngModel" >
            <option *ngFor="let u of types_legumes" [value]="u">{{u}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="status">Famille</label>
        <select name="famille" [(ngModel)]="legume.famille" required #name="ngModel" >
            <option *ngFor="let u of familles_legumes" [value]="u">{{u}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="status">Nb années rotation</label>
        <input name="nbAnneeRotation" [(ngModel)]="legume.nbAnneeRotation" required #name="ngModel">
    </div>
   
    <div class="form-group">
        <div *ngIf="idLegume==0">
            <button mat-stroked-button color="primary" (click) = "ajouterOuModifierLegume()">Ajouter</button>
        </div>
        <div *ngIf="idLegume!=0">
            <button mat-stroked-button color="primary" (click) = "ajouterOuModifierLegume()">Modifier</button>  
        </div>
    </div>
</form> -->