/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form-group{
    margin-top: 15px;
}

.form-group label{
    font-size: 18px;
    margin-bottom: 5px;
    margin-left : 10px;
}

.form-group input{
    width: 50%;
    margin-left: 21px;
} 

.form-group select{
    /* float: right; */
    margin-left: 9px;
    width: 90%;
    background-color: #cbf49f;
    border-color: #a2bd96;
}

.form-group select option{
    /* float: right; */
    font-size: large;
}


.form-group textarea{
    /* float: right; */
    width: 100%;
}

form{
    border-style: double;
    border-color: darkgray;
    padding: 4px;
    background-color: #edf0ef;
}

.form-group  button {
    display: inline-block;
    background-color:#cbf49f;
   /* width: 155px;*/
    color: black;
    text-align: center;
    border: 1px;
    border-style:double;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer; /* add this line */
    margin: 5px; /* add this line */
  }

  tr.cultureAFaire {
    background-color: #ff5e6d;
  }

  tr.cultureTerre {
    background-color: #a35d23cb;
  }

  tr.cultureSemis {
    background-color: #c6ff91cb;
  }
 